@font-face {
    font-family: Lexend;
    src: url('../assets/fonts/lexend_variable.ttf');
}

@font-face {
    font-family: Cal Sans;
    src: url('../assets/fonts/calsans_regular.ttf');
}

:root {
    --primary-color: #f0f0f0;
    --bg-color: #1a1a1a;
    --secondary-bg-color: #2a2a2a;
    --accent1-color: #004d61;
    --accent2-color: #822659;
    --secondary-color: #3e5641;
}

body {
    margin: 0;
    font-family: Lexend, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--bg-color);
    color: var(--primary-color);
}

button {
    font-family: Lexend, sans-serif;
    font-weight: 250;
}

header {
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header-left {
    display: flex;
    align-items: baseline;
    gap: 12px;
    padding-left: 1%;
}

.header-right {
    display: flex;
    align-items: baseline;
    gap: 12px;
    padding-right: 1%;
}

main {
    display: flex;
    flex-grow: 1;
    text-align: center;
}

.toolbar-left {
    display: flex;
}

.button {
    background-color: transparent;
    color: var(--primary-color);
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 1em;
    border-radius: 6px;
    transition: all 0.2s ease;
}

.button:hover {
    background-color: #333;
}

.button:active {
    background-color: #9a9a9a;
}

.button.outlined {
    border-color: var(--primary-color);
    border-width: 1.5px;
    border-style: solid;
}

.button.outlined:hover {
    background-color: var(--primary-color);
    color: var(--bg-color);
}

.button.outlined:active {
    background-color: #9a9a9a;
    border-color: #9a9a9a;
}

.clock-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 20px;
}

.toggle-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.toggle-container i {
    transition: all .3s ease;
}

.toggle-container #icon-on {
    display: none;
}

#fullscreen {
    display: none;
}

#fullscreen:hover+.toggle-container i {
    opacity: .6;
}

#fullscreen:active+.toggle-container i {
    opacity: .4;
}

#fullscreen:checked~.toggle-container #icon-off {
    display: none;
}

#fullscreen:checked~.toggle-container #icon-on {
    display: unset;
}

.clock-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    display: flex;
    flex-grow: 1;
    padding: 0.5% 1% 1% 1%;
    overflow: hidden;
}

.panel {
    background-color: var(--secondary-bg-color);
    flex-shrink: 0;
    padding: 1%;
    border-radius: 12px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.panel-left {
    width: 1%;
}

.canvas {
    flex-grow: 1;
    align-items: center;
    align-content: center;
    justify-content: center;
    overflow: auto;
}

.canvas-grid {
    width: 21cm;
    /* Dimensioni fisse per un'area di lavoro A4 */
    min-height: 29.7cm;
    background-color: var(--primary-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    color: black;
}

.logo {
    font-size: 2em;
    font-weight: 600;
}